<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/default.css">
    <title>Document</title>

</head>

<body>
    <div id="app">
        <nav>
            <div class="nav-wrapper blue darken-3">
                <a href="#" class="brand-logo center white-text">effecti</a>
                <ul id="nav-mobile" class="right">
                    <li><a href="#" @click="extract()">Extrair do Site</a></li>
                </ul>
            </div>
        </nav>
        <br>
        <br>
        <div class="row">
            <div class="col s12">
                <form id="searchForm" method="post">
                    <div class="input-field inline col s10 m10 l4 offset-s1 offset-m1 offset-l1">
                        <input id="search" type="text" name="search" autocomplete="off" @keyup="pickBiddings" class="validate">
                        <label for="search">Buscar</label>
                    </div>
                </form>
                <div class="col s12 m10 offset-m1 ">

                    <custom-table></custom-table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        app = Vue.createApp({
            data: function () {
                return {
                    biddings: ''
                };
            },
            mounted: function () {
                this.pickBiddings();
            },
            methods: {
                pickBiddings() {
                    fetch('http://localhost/extrator/back-end/biddings', {
                        method: 'post',
                        body: new FormData(document.querySelector('#searchForm'))
                    })
                        .then(response => response.json())
                        .then(data => {
                            this.biddings = data;
                        })
                        .catch((error, data) => {
                            console.error('Error:', error);
                        });
                },
                extract() {
                    fetch('http://localhost/extrator/back-end/extract', {
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.error)
                                alert('Ocorreu um problema, favor contatar o suporte');
                            else{
                                alert(data.msg);
                                this.pickBiddings();
                            }
                        })
                        .catch((error, data) => {
                            console.error('Error:', error);
                        });
                },

            }
        })
        app.component('custom-table', {
            template: `
            <table @load="this.$parent.pickBiddings()">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Informações</th>
                                <th>Modalidades</th>
                                <th>Lido</th>
                            </tr>
                        </thead>

                        <tbody id="body">
                            <custom-tr v-for="(bidding, i) in this.$parent.biddings" v-bind:title="bidding.title"
                                :info="bidding.info" :modalities="bidding.modalities" :read="bidding.read" :link="bidding.link"
                                :id="bidding.id" />
                        </tbody>
                    </table>

            `,
            props: ['biddings']

        })
        app.component('custom-tr', {
            template: `
            <tr>
                <td> <a :href="link" target="_blank" >{{ title }}</a></td>
                <td>{{ info }}</td>
                <td>{{ modalities }}</td>
                <td>
                    <form action="" :id="'check'+id">
                        <input type="hidden" name="id" :value="id">
    
                        <label>
                            <input type="checkbox" :name="'read'+id" @click="sendReadState(id)" checked value="1" v-if="read" />
                            <input type="checkbox" :name="'read'+id" @click="sendReadState(id)" value="1" v-else />

                            <span></span>
                        </label>
                    </form>
                </td>    
            </tr> 
            `,
            props: ['title', 'info', 'modalities', 'read', 'id', 'link'],

            methods: {
                sendReadState(id) {
                    fetch('http://localhost/extrator/back-end/read', {
                        method: 'post',
                        body: new FormData(document.querySelector('#check' + id))
                    })
                }
            }
        })



        app.mount('#app')
        document.querySelector("#searchForm").addEventListener("submit", function (event) {
            event.preventDefault();
        });
    </script>
</body>
<script src="js/materialize.min.js">
    M.AutoInit();
</script>

</html>